*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* perchè max-width=100% e non fit/max/min content?*/
/* display: block; serve per rimuovere una linea di pixel che a volte compara */
img{
    max-width: 100%;
    display: block;
}


.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: rgb(33, 36, 120);
    color: white;
    font-family: "DM Sans", sans-serif;
}

article{
    margin: 24px;
    padding: 3rem 32px;
}

p{
    font-size: 14pt;
}

.header{
    font-size: 18pt;
    font-family: "Sigmar", sans-serif;
    line-height: 1.1;
    margin: 1rem 0;
}

.download-section{
    text-align: center;
}

.card{
    background-color: rgb(95, 101, 205);
    border-radius: 32px;
}
.button{
    height: 64px;
    margin: 24px auto;
    border-radius: 18px;
    color: black;
    background-color: white;
}